# PostgreSQL / Neon Database Connection Strings
DATABASE_URL="postgresql://neondb_owner:npg_placeholder@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_placeholder@ep-sample.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Auth Credentials & Secret
ADMIN_EMAIL="jeffreyusman@gmail.com"
ADMIN_PASSWORD="AdminPassword123!"
AUTH_SECRET="super-secret-jwt-token-key-change-in-production-32chars"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="demo_cloud"
CLOUDINARY_API_KEY="123456789012345"
CLOUDINARY_API_SECRET="sample_cloudinary_secret_key"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
